{% extends 'layout.html' %}{% block title %} Sobre mi {% endblock %} {% block content %}
<header class="header-projects">
    <h1>SOBRE MI</h1>
    <p class="header-about-p">Desarrollador de Software Fullstack, creador de código abierto y articulos relacionados al tema.</p>
</header>


<div class="container-about">
    <p>
        ¡Hola, soy Gustavo! Soy un Técnico desarrollador de software recientemente recibido.
    </p>
    <p>
        Bienvenido a mi lugar en la web para proyectos que he creado, articulo relacionados al desarrollo, reflexiones y cualquier otra cosa que quiera mostrarle al mundo.
    </p>
    <p>
        Soy entusiasta a la hora de resolver problemas y busco siempre ser de ayuda para todo aquel que me necesita. Mi camino en el desarrollo de sistemas comenzó en el 2019 pero mi vida siempre estuvo ligada a la tecnología, desde la reparación de hardware
        hasta el diseño grafico.
    </p>
    <p>
        Mi sitio no tiene anuncios, ni enlaces de afiliados, ni seguimiento, ni análisis, ni publicaciones patrocinadas. Mi única motivación para este sitio es compartir lo que he aprendido con el mundo y documentar notas para mí mismo y, con suerte, conectarme
        con algunas personas.
    </p>
</div>

<div class="container-about">
    <h2>Tecnologias</h2>
    <hr class='line-divisor'>
    <p>
        A lo largo de mi aprendizaje trabaje con un caudal de tecnologias, las cuales busco pulir dia a dia:
    </p>
    <ul>
        <h3>Lenguajes:</h3>
        <li>
            Html
        </li>
        <li>
            Css
        </li>
        <li>
            Js
        </li>
        <li>
            Python
        </li>
        <li>
            Php
        </li>
    </ul>
    <ul>
        <h3>Librerias:</h3>
        <li>
            Jquery
        </li>
        <li>
            Boostrap
        </li>
    </ul>
    <ul>
        <h3>Framework:</h3>
        <li>
            Django
        </li>
    </ul>
    <ul>
        <h3>CDM:</h3>
        <li>
            WordPress
        </li>
    </ul>
</div>

<div class="container-about">
    <h2>Conectar</h2>
    <hr class='line-divisor'>
    <p>
        Puedes conectar con migo por correo electronico a gusgeneris92@gmail.com para decir Hola. Siempre agradesco conocer gente nueva
    </p>
    <ul>
        <li>
            <a class='enlace-contacto' href="https://github.com/gusgeneris" target="_blank">GitHub</a>
        </li>
        <li>
            <a class='enlace-contacto' href="https://www.linkedin.com/in/gustavo-sandoval/" target="_blank">Linkedin</a>
        </li>
    </ul>
</div>

<div class="container-about">
    <h2>Herriemtas</h2>
    <hr class='line-divisor'>
    <h3>Software</h3>
    <ul>
        <li>Este sitio web esta alojado en <b> Heroku </b> y utiliza almacenamiento <b>AWS S3</b></li>
        <li>Codificacion : <b>Visual Studio Code</b> con el tema <b>Rainbow Theme-Extends</b> </li>
    </ul>

    <h3>Hardware</h3>
    <ul>
        <li>Pc codificador: Hp 16"
        </li>
        <ul>
            <li>
                Procesador: Corei3
            </li>
            <li>
                Almacenamiento: 1TB
            </li>
            <li>
                Memoria: 8GB
            </li>
            <li>
                GPU: Radeon Graphics
            </li>
        </ul>
    </ul>

</div>

{% endblock %}