{% extends 'layout.html' %} {% load static %}{% block title %} {{post.titulo}} {% endblock %} {% block content %}

<header class="header-home">
    <div class='conteiner-header-home'>
        <div class="p-4 continer-img-home">
            <img class="img-profile" src="{% static 'img/profile-01.jpeg' %}" alt="Imagen Personal">
        </div>

        <div class="conteiner-description-home col-md-12">
            <h1 class="p-4 pb-0"> Hola, soy Gustavo</h1>
            <p class="p-4">
                Soy Fullstack Developer actualmente en <a target="_blank" class="enlace-empresajob" href="https://isurgob.com/">IsurGob</a>. <br> Me gusta crear proyectos de código y escribir sobre lo que aprendo. Este sitio web es donde pretendo presentar
                todo aquello que voy aprendiendo y creado .
            </p>
            <a class='btn btn-lg btn-light rounded-7 mx-4 btn-enlace' href="{% static 'porfolio/CurriculumSandovalGustavoD.pdf'%}" target='_black'> Descargar CV</a>

        </div>
    </div>
</header>


<div class='title-post-home'>
    <h1>
        Publicaciones recientes
    </h1>
    <p>
        Una pequeña lista de las publicaciones mas recientes que he publicado.
    </p>

</div>

<hr class='line-divisor'> {% for post in posts %}
<div class="conteiner post-blog">
    <a class="enlace-post" href="blog/post/{{post.id}}">


        <h3 class="enlace-post-title">{{ post.titulo }}</h3>

        <!--<p>{{ post.descripcion|truncatechars:100 }}</p>-->
        <!-- Permite mostrar solo la cantidad de caracteres que necesitamo-->
        <div class='date-blog-post'>
            <time>{{ post.date|date:'D,m' }}</time>
        </div>

        <div class="img-list">
            {% for categoria in post.categorias.all %}
            <img src="{{categoria.imagen.url}}" alt=""> {% endfor %}
        </div>

    </a>
</div>{% endfor %}


<div class='title-post-home'>
    <h1>
        Contacto
    </h1>
    <p>
        Si tienes la necesidad de contactarme enviame un email directamente .
    </p>

</div>

<hr class='line-divisor'>

<div class="conteiner-contact-form">

    <form action="" method="POST">{% csrf_token %}

        <div class="form-group">
            <label for="exampleInputEmail1">Tu email </label>
            <input name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            <small id="emailHelp" class="form-text text-muted"><i> Nunca se compartira tu mail con alguien mas.</i></small>
        </div>

        <div class="form-group">
            <label for="asunto">Asunto</label>
            <input name="asunto" class="form-control" id="asunto" placeholder="Asunto">
        </div>

        <div class="form-group">
            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" class="form-control" id="mensaje" placeholder="Mensaje" cols="30" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-light btn-submit">Enviar</button>
    </form>
</div>
{% endblock %}